<% content_for :javascripts do %>
  <%= javascript_include_tag 'map' %>
<% end %>


<div class="row">
  <div class="title span12">
    <h2 class="page-heading"><%= @page.title %></h2>
  </div>
</div>

<div class="row">
    <div id="map" class="span8"></div>
    <div id="histories-links"class="span4">
      <div class="histories-heading">
        <div class="content-container">
          <h3>Interview Participants</h3>
        </div>
      </div>
        <div id="link-box">
          <ul>
            <% @interviews.each do |interview| %>
              <li><%= link_to interview.full_name, "/#{@page.title.parameterize}##{interview.full_name.parameterize}" %></li>
            <% end %>
          </ul>
        </div>
    </div>
</div>

<div class="row">
  <div id="histories" class="span12">
    <% @interviews.each_with_index do |interview, i| %>

      <% if i.even? %>
        <div class="row">
          <div class="span7 history">
            <div class="histories-heading">
              <div class="content-container">
                <a name="<%= interview.full_name.parameterize %>" class="anchor" ></a>
                <h3><%= interview.full_name %></h3>
                <h4><%= interview.city%> - Entered US on <%= interview.date_of_entry %> </h4>
              </div>
            </div>
            <div class="content-container">
              <%= simple_format interview.description %>
              <br />
              <% unless interview.clips.empty? %>
                <h4>Interview Clips</h4>
              <% end %>
              <ul class="clips">
                <% interview.clips.each do |clip| %>
                  <% file = ::Refinery::Resource.find_by_id(clip.file_id) %>
                  <li><%= link_to clip.name, "/clips/#{clip.id}" %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="span5 history">
            <div class="image-container">
              <% picture = ::Refinery::Image.find_by_id(interview.picture_id) %>
              <%= image_tag(picture.url) %>
              <%#= image_tag(interview.images[i].url) %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="span5 history">
            <div class="image-container">
              <% picture = ::Refinery::Image.find_by_id(interview.picture_id) %>
              <%= image_tag(picture.url) %>
            </div>
          </div>
          <div class="span7 history">
            <div class="histories-heading">
              <div class="content-container">
                <a name="<%= interview.full_name.parameterize %>" class="anchor" ></a>
                <h3><%= interview.full_name %></h3>
                <h4><%= interview.city%> - Entered US on <%= interview.date_of_entry %> </h4>
              </div>
            </div>
            <div class="content-container">
              <%= simple_format interview.description %>
            </div>
            <div class="content-container">
              <% unless interview.clips.empty? %>
                <h4>Interview Clips</h4>
              <% end %>
              <ul class="clips">
                <% interview.clips.each do |clip| %>
                  <% file = ::Refinery::Resource.find_by_id(clip.file_id) %>
                  <li><%= link_to clip.name, file.url %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
