<% content_for :javascripts do %>
  <%= javascript_include_tag 'map_home' %>
<% end %>
<% interview = @interviews.last %>


<% if interview %>
  <div class="top-space row">
    <div class="span6">
      <div id="first-history">
        <div class="history">
          <div class="histories-heading">
            <div class="content-container">
              <a name="<%= interview.full_name.parameterize %>" class="anchor" ></a>
              <% if ::I18n.locale == :es %>
              <h3>Nuestra entrevista más reciente<h3>
              <h4><%= interview.full_name %> - <%= interview.city_es%></h4>
                <h4>Llegó a los EE.UU.: <%= interview.date_of_entry_es %> </h4>
              <% else %>
              <h3>Our latest interview<h3>
              <h4><%= interview.full_name %> - <%= interview.city%></h4>
                <h4>Arrived in the US: <%= interview.date_of_entry %> </h4>
              <% end %>
            </div>
          </div>
          <div class="interview-text">
            <div class="content-container">
              <% if ::I18n.locale == :es %>
                Para aprender más sobre <%= interview.first_name %> y otros Cubanos que viven en el área de Chicago, haga cliq <%= link_to 'aquí.', '/es/oral-histories' %>
              <% else %>
                To learn more about <%= interview.first_name %> and other Cubans living in the Chicago area, click <%= link_to 'here.', '/oral-histories' %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="image-container">
            <% picture = ::Refinery::Image.find_by_id(interview.picture_id) %>
            <%= image_tag(picture.url) if picture %>
        </div>

          <!-- <div class="span5" id="map-home"></div> -->
      </div>
    </div>


    <div class="span6">
        <div class="histories-heading">
          <div class="content-container">
            <h3>
              <%= copywriting('home_title', {:phrase_type =>
                'string', :scope => 'home', :default => 'title' }) %>
            </h3>
          </div>
        </div>
        <div class="interview-text">
          <div class="content-container">
            <p>
              <%= copywriting('home_content', {:scope => 'home', :default => 'content' }) %>
            <p>
            <br />
            <div class="fb-like" data-href="http://www.facebook.com/ChicagoCubaProject" data-send="true" data-width="360" data-show-faces="true"></div>
          </div>
        </div>
        <div id="map-home"></div>
        <div class="histories-heading">
          <div class="content-container">
            <h3>
              <% if ::I18n.locale == :es %>
                La historia de <%= interview.first_name %>
              <% else %>
                <%= interview.first_name %>'s story
              <% end %>
            </h3>
          </div>
        </div>
        <div class="interview-text">
          <div class="content-container">
            <% if ::I18n.locale == :es %>
              <%= simple_format interview.description_es %>
            <% else %>
              <%= simple_format interview.description %>
            <% end %>
          </div>
    </div>
  </div>
<% end %>

